.videoLesson{
    
    width: 57vw;
    height: 60vh;
    margin:auto;
    margin-top:100px;
    position:relative;
}
.VideoSuggested{
    position:relative;
    cursor: pointer;
}
.suggestions{
    width: 95vw;
    margin: 20px auto;
    /* margin-right: 50px; */
    display: grid;
    grid-template-columns: repeat(50,1fr);
    gap:.5rem;
    overflow-x: scroll;
}

.uploadFile{
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 30px; */
}

@media (max-width: 768px) {
    .videoLesson{
        height: 50vh;
        width: 99%;
        margin:auto;
        margin-top:70px;
        position:relative;
    }
    .suggestions{
        width: 95vw;
        margin: 20px auto;
    }
}

@media (max-width: 530px) {
    .uploadFile{
        height:50px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-bottom: 30px; */
    }
}