.specificCourse{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.courseContainer{
     border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.courseContainer:hover{
    background-color:rgb(237, 235, 235);
    transition: ease .3s;
    
}
.TopOfPage{
    margin-top: 80px;
    /* padding-top: 20px; */
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 48px;
    font-family: 'Noto Nastaliq Urdu', serif;
    background-color: rgb(226, 227, 227);
/* font-family: 'Noto Sans Arabic', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
}
.allCourses{
    width: 98%;
    border-radius: 10px;
    background: #fafafa;
    box-shadow:  5px 5px 10px #cbcbcb,
             -5px -5px 10px #ffffff;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    padding-right: 15px;
    margin-bottom:10px;
    cursor: pointer;
}
/* .allCourses:hover{ */
    /* border-style: inset; */
/* } */
.showDataStyle{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    margin-top: 10px;
}
.showDataThreeColumns{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.nameInstrumentLevel{
    display: flex;
    width:100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
  .coursesCss{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .filterInstruments{
    visibility: hidden;
  }

  .popUpAll{
   display:none;
}
  @media (min-width: 500px) and (max-width:768px) {
    
    .showDataStyle{
        display: grid;
        grid-template-columns:1fr 3fr;
        gap: 2rem;
        margin-top: 10px;
    }
    .showDataThreeColumns{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
    }
    
  }

  @media (max-width: 500px){
    .coursesCss{
     display:none;
    }
    .filterInstruments{
        visibility: visible;
        margin-right: 20px;
        margin-top: 20px;
        border: 1px solid rgb(202, 201, 201);
        width:fit-content;
        padding: 3px 15px;
        border-radius:10px;
      }
    .showDataStyle{
        display: grid;
        grid-template-columns:1fr;
        gap: 2rem;
        margin-top: 10px;
    }
    .showDataThreeColumns{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 3rem;
    }
    .popUpAll{
        display:block;
        height: 100vh;
        width: 100vw;
        background:rgba(255,255,255,0.4);
        position:fixed;
        top: 0;
    }
    .thePopUp{
        height: fit-content;
        width:90vw;
        height:35vh;
        margin: auto;
        background:white;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
    }
    .coursesPopUp{
        margin-top: 100px;
        
    }
  }