.practicesNew{
    padding: 10px 0px;
}
.videoAndRepliesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.RepliesVideos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* padding: 10px; */
}
.RepliesVideo{
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
}
.recordings{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.commentOnPractice{
    width: 90%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px #cbcbcb,
        -2px -2px 5px #ffffff;
    background-color: #f5f4f4;
}
.replyIcons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.iconReply{
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoOfPractice{
    width: 100%;
    height: 284px;
    border: 1px solid black;
}
.videoContainer{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-link {
    width: 25px;
    background-color: white;
    border: 2px solid black;
    color: black;
  }
  
  .page-link:hover {
    /* Add your hover styles here */
    /* Example styles */
    background-color: #242323;
    color: white;
    cursor: pointer;
  }

@media (max-width:678px) {
    .videoAndRepliesContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
    .recordings{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .RepliesVideo{
        width: 100%;
        height: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid black;
    }
    .videoOfPractice{
        width: 100%;
        height: 254px;
        border: 1px solid black;
    }
    .commentOnPractice{
        width: 100%;
        margin-top: 10px;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 2px 2px 5px #cbcbcb,
            -2px -2px 5px #ffffff;
        background-color: #f5f4f4;
    }
}