.profileAllButtons{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 1rem;
}
.profileButtons1, .profileButtons2,.profileButtons3, .profileButtons4{
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.profileButtons1:hover, .profileButtons2:hover,.profileButtons3:hover,.profileButtons4:hover{
    border-bottom: 3px solid rgb(25, 24, 24);
    transition: all 0.5s;
    color:black
}
.coverProfile{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:80px;
}
.profilePage{

        display: grid;
        grid-template-columns: 1fr 4fr;
        margin-top: 150px
}
.profileAllButtonsMobile{
    display:none;
}
.practiceAndReply{
    height: fit-content
}
@media (max-width: 568px) {
    .coverProfile{
        display: flex;
                    flex-direction:column;
                    justify-content:center;
                    align-items:center;
                    margin-top:60px;
    }
    .profileButtons{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        margin-top: 30px
    }
    .profilePage{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 150px
}
.profileAllButtons{
    display:grid;
    grid-template-columns: 1fr
}
.profileAllButtonsMobile{
    display:block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}