.profileButtons{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 1rem;
    margin-top: 30px
}
.coverProfile{
    display: flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                margin-top:80px;
}
.profilePage{

        display: grid;
        grid-template-columns: 1fr 4fr;
        margin-top: 150px
}
@media (max-width: 568px) {
    .coverProfile{
        display: flex;
                    flex-direction:column;
                    justify-content:center;
                    align-items:center;
                    margin-top:60px;
    }
    .profileButtons{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        margin-top: 30px
    }
    .profilePage{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 150px
}
}