.changePass{
width: 100%;
height:30px;
margin-top:20px
}
.mainChangePass{
    width: 60%;
    margin:auto;
}
@media (max-width: 768px) {
    .mainChangePass{
        width: 80%;
        margin:auto;
    }
}