.container{
    margin: 100px auto;
    width: 80%;
    /* margin: auto; */
}
.containers{
    border: 1px solid black;
    width: 40%;
    text-align: center;
}
.textSubscriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.titleSubscription{
    text-align: center;
}
.textSubscription{
 font-weight: bold;
}

.textSubscription6{
    font-weight: bold;
    padding: 20px 40px;
    border-bottom: 1px solid #d4d4d4
}
.plans{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap:10px
}
.plan3{
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 50px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.plan2{
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 50px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.plan1{
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    margin: 0px auto;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.colorful{
    background: linear-gradient(to right, #ff79d5, #787FFF);
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    height: 50px;
}

.invoiceLine{
    padding: 10px;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #d4d4d4;
}
.Months6Btn{
    width: 70%;
    background-color: black;
    color: white;
    height: 50px;
    margin: 20px auto;
    font-size: 20px;
}
.Months12Btn{
    width: 70%;
    background-color: red;
    color: white;
    height: 50px;
    margin: 20px auto;
    font-size: 20px;
    border: none;
}

.chooseTeacherPop{
    margin-top:100px;
    padding:0px 15px
}
.teachersListSub {
    width: 50%;
    margin: auto;
}
.aboutTeacher{
    width: 50%;
    margin: auto;
}

.TcsBtn{
    background-color: #fcedd5;
    padding: 5px 15px;
    width: 100px;
}
.TcsBtns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    gap:20px
}
.subscriptionPage{
    margin-top: 80px;
    background-color: #ebebeb;
}
@media (max-width:767px) {
    .plan{
        width: 100%;
        border: 1px solid black;
        text-align: center;
    }
    .subscriptionPage{
        margin-top: 60px;
        background-color: #ebebeb;
    }
    /* .colorful{
        background: linear-gradient(to right, #ff79d5, #787FFF);
        color: white;
        font-weight: bold;
        text-align: center;
        width: 100%;
        padding: 3px 20px;
        margin: 50px auto 0px auto;
    } */
    .plans {
        flex-direction: column;
        align-items: flex-start;
      }
    
      #secondPlan {
        order: -1;
      }
      .chooseTeacherPop{
        margin-top:80px;
        padding:0px 15px
     }
     .teachersListSub{
        width: 90%;
        margin: auto;
    }
    .aboutTeacher{
        width: 90%;
        margin: auto;
    }
    .TcsBtns{
        margin-bottom: 60px;
    }
}

.plansContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
    padding: 0px 50px;
}
@media (max-width:600px) {
    .plansContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 0px 20px;
      }
    
      .plan1 {
        width: 100%;
        border: 1px solid black;
        text-align: center;
        margin: 0px auto;
        /* Set the order of plan1 to be first on mobile */
        order: -1;
      }
    
      .plan2 {
        width: 100%;
        border: 1px solid black;
        text-align: center;
        margin-top: 50px;
        margin: 50px auto;
      }
}