.aboutus {
   
    width:90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    /* padding: 0px 30px; */
    border-top-left-radius: 180%;
    background-color: #fcedd5;
}

.instimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutSection {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.show-more-button {
    display: none; /* Hide the button by default */
  }
  .spanAbout{
    display: none;
  }
  /* Show the button only on screens with a maximum width of 768px (mobile devices) */

@media (max-width: 768px) {
    .aboutus {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    .show-more-button {
        display: block; /* Show the button on mobile devices */
        margin: 20px auto;
        padding: 5px 25px;
        background: transparent;
      }
      .spanAbout{
        display: block;
        color:"black"
      }
}