.newCoursesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: auto;
}
.courseCard{
    width: 400px;
}
@media (max-width: 420px) {
    .courseCard{
        width: 100%;
    }
}