.discDiv{
    width: 70%;
    margin:20px auto;
    font-size: 18px;
    border-top-left-radius: 180%;
    background-color: #fcedd5;
    text-align:center;
     display:flex;
     justify-content:center;
     align-items:center;
     padding:20px;
}

@media (max-width: 768px) {
    .discDiv{
        width: 90%;
        margin: auto;
    }
}