.aboutus {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 190px;
    /* padding: 0px 30px; */
    border-top-left-radius: 180%;
    background-color: #fcedd5;
}

.instimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutSection {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .aboutus {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
}