.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact-form {
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  max-width: 100%;
  animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.form-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-icon {
  margin-right: 10px;
}

.form-title {
  margin: 0;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-actions {
  display: flex;
}

.submit-button,
.cancel-button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  margin-left: 10px;
}

.contact-button {
  position: fixed;
  bottom: 0px;
  right: 5px;
  background: rgb(46, 45, 45);
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 69;
  transition: transform 0.3s ease;
}

.contact-button:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
    .contact-button {
        position: fixed;
        bottom: 0px;
        right:0px;
        background: rgb(46, 45, 45);
        color: white;
        font-size: 14px;
        font-weight: lighter;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
        z-index: 999;
        transition: transform 0.3s ease;
      }
}