.coursePage{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background: #fafafa;
    box-shadow:  10px 10px 30px #aba8a8,
      -5px -5px 10px #ffffff;
    padding:3px
}

.videosAndComments{
    display: grid;
    grid-template-columns:  1fr 2fr 1fr;
}
.detailsOfCourse{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttonChooseVideo{
    width: 90%;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background-color: rgb(234, 232, 232); */
    border-radius: 10px;
    background: #fafafa;
    box-shadow:  10px 10px 30px #aba8a8,
      -5px -5px 10px #ffffff;
    padding:3px
}

.buttonChooseVideo:hover{
    background-color: rgb(208, 203, 203);
    color: black;
    transition:ease-in .2s
}
.uploadVideos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: "center";
        margin-top: 30px;
        text-align: center;
}
.episodeNameInput{
    /* margin-left: 10px;
     margin-right: 10px; */
     width: 80%;
     margin:10px;
     margin-right: 10px;

}
.submitVideo{
    cursor: pointer;
    margin-left: 10px;
    margin-top: 20px;
}
.teacherSection{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
}
@media(max-width: 820px){
    .uploadVideos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: "center"
    }
    .episodeNameInput{
        margin: 10px 0px 
    }
    span{
        margin-top:10px
    }
    .submitVideo{
        margin: 10px 0px;
    }
    .teacherSection{
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid black
      
}
.buttonChooseVideo{
    height: 30px;
}
}