.footer{
    width: 90%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    
}

@media (max-width: 622px){
    .footer{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    
}