.fourboxesMain{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    width: 90%;
    margin: 1rem auto;
    font-size: 24px;
    font-family: 'Noto Sans Arabic', sans-serif;
}
.FourBoxesTop{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.allInstruments{
    border-bottom:1px solid black;
}
.box1{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    max-width: 100%;
    height: 80%;
    color:black;
    background-image: url("https://images.unsplash.com/photo-1585128719562-74b7009c5776?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fHBpYW5vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-position: center;
    background-repeat: no-repeat;
}
.box2{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    max-width: 100%;
    height: 80%;
    color:black;
    background-image: url("https://images.unsplash.com/photo-1668761649428-855a024f1ec6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fG91ZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.box3{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    max-width: 100%;
    height: 80%;
    color:black;
    background-image: url("https://images.unsplash.com/photo-1612225330812-01a9c6b355ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dmlvbGlufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box4{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    max-width: 100%;
    height: 80%;
    color:black;
    background-image: url("https://images.unsplash.com/photo-1524650359799-842906ca1c06?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fGd1aXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}
@media (max-width: 768px) {
    .fourboxesMain{
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
        width: 90%;
        margin: 1rem auto;
    }
}