.header{
    height:80px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    box-shadow:
                rgb(0 0 0 / 6%) 0px 4px 8px, rgb(35 41 54 / 14%) 0px 12px 32px;
    padding:3px;
    background-color: white;
    top:0;
    right:0;
    position: fixed;
    width: 100%;
    margin:auto;
    z-index: 99;
    font-family: 'Noto Sans Arabic', sans-serif;

    }
.middle{
    width:100%;
    display:flex;
    justify-content:space-between;
    text-align: center;
    align-items: center;
    /* padding: 0px 70px */
}
.sideMenu{
    top:85px;
}

/* .sideMenu{
    position: fixed;
    top: 85;
    left: 1;
    width: 150px;
    z-index: 99;
    background-color: white;
    box-shadow:  rgb(0 0 0 / 6%) 0px 4px 8px, rgb(35 41 54 / 14%) 0px 12px 32px;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

button{
    cursor: pointer;
}

.Register{
    margin-right: 2rem;
}
.Logo{
    height: 1rem;
    align-items: center;
}
.headerpiano, .headeroud{
    cursor: pointer;
    border-bottom: 3px solid transparent;
    color:black;
    
    /* margin-right: 3rem; */
    
}
.highlight{
    font-family: "Font Awesome 5 Pro";
    font-style:italic
}
.headerpiano:hover, .headeroud:hover{
    border-bottom: 3px solid rgb(25, 24, 24);
    transition: all 0.5s;
    color:black
}

.logoImage{
    width:50px;
    height:50px
}

.menuMobile{
    display: none;
}

    .menu-details{
        display: none;
    }
.menu-details-computer{
    width:30%;
         display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
}
.Menu-message{
    display: flex;
    justify-content: space-around
}
.registerBox{
   
    border-radius: 10px;
    background: linear-gradient(145deg, #e1e1e1, #ffffff);
    box-shadow:  1px 1px 16px #dbdada,
                 -1px -1px 16px #ffffff;
   
}
.registerBox:hover{
    border-radius: 50px;
background: #fafafa;
box-shadow:  20px 20px 60px #d5d5d5,
             -20px -20px 60px #ffffff;
}

.logOutHeader{
    border-radius: 10px;
    background: linear-gradient(145deg, #e1e1e1, #ffffff);
    box-shadow:  1px 1px 16px #dbdada,
                 -1px -1px 16px #ffffff;
}
.logOutHeader:hover{
        border-radius: 50px;
background: #fafafa;
box-shadow:  20px 20px 60px #d5d5d5,
             -20px -20px 60px #ffffff;

}
.notificationNotification{
    position: absolute;
    margin-top: -55%;
    margin-left: 55%;
    width:10px;
    height: 10px;
    background-color: rgb(246, 95, 95);
    border-radius:50%
}
.notificationMessage{
    position: absolute;
    margin-top: -25px;
    margin-right: 35%;
    width:15px;
    height: 15px;
    background-color: rgb(246, 95, 95);
    border-radius:50%
}

.notification-container {
    
        position: absolute;
        top: 125px;
        left: 10px;
        background: white
      
}
.notificationMessage-container{
    position: absolute;
    top: 125px;
    left: 100px;
    background: white
    
}

.backgroundHover{
    position: fixed;
    height: 200vh;
    width: 100vw;
    background: transparent;
}

.blackBackgroundtext{
    font-weight: 400;
    font-size: 18px;
}

.dontShowOnMobile{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px){
    .header{
        height:60px;
        width: 100vw;
        padding-left: 11px;
        padding-right: 11px;
    }
    .sideMenu{
        top:60px;
    }
    .logoImage{
        width:60px;
        height:40px
    }
    .middle{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        align-items: center;
        padding-left: 11px;
        padding-right: 11px; 
        /* margin-left: 40px;
        margin-right:40px; */
    }
    .backgroundHover{
        position: fixed;
        top: 60;
        height: 200vh;
        width: 100vw;
        background: rgba(98, 98, 100, 0.3);
    }
    .menu-details{
        display: flex;
        flex-direction: column;
        align-items:center;
        position:fixed;
        top:0;
        right:0;
        height:100%;
        width:100%;
        background:black;
        color: white;
        transition: all 0.5s;
        z-index: 99;
        padding: 15px 10px 15px;
    }
    span{
        color:white
    }
    .menuMobile{
        visibility:visible;
        max-width: 100%;

        display: block;
        display: flex;
        justify-content:"center";
        align-items:"center";
    }
    .menu-details-computer{
        display: none
    }
    .dontShowOnMobile{
        display: none;
    }
    /* .header-down{
        display: "flex";
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } */
    .Menu-message{
        display: flex;
        padding-right: 15px;
        /* flex-direction: column; */
    justify-content: space-between;
    align-items: flex-start
    }
    .notification-container {
        position: absolute;
        top: 105px;
        left:10px;
    }
    .notificationMessage-container{
        position: absolute;
        top: 90px;
    }
}




