.hero{
    width:100%;
    margin-top: 80px;
    height: 80vh; 
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    position:relative;
    overflow: hidden;
    /* background-position: bottom; */
    /* box-shadow: 0 8px 16px 12px rgb(43, 42, 42), 0 12px 24px 0 rgba(43, 42, 42); */
}
.slide{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity:0;
    transform: translateX(0);
    transition: all 0.5s ease;
}

.img {
    min-width: 100%;
      min-height: 100%;
      object-fit: cover;
}
@media (min-width: 600px){
    .slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* vertical-align: middle; */
    }
}

.content{
    position: absolute;
    top:15rem;
    /* right:10rem; */
    width: 100%;
    padding:2rem;
    background: rgba(0,0,0,.2);
    box-shadow:
                rgb(0 0 0 / 6%) 0px 4px 8px,rgb(35 41 54 / 14%) 0px 12px 32px,rgb(35 41 54 / 14%) 0px 12px 32px, rgb(35 41 54 / 14%) 0px 12px 32px;
    animation:slide-up 1s ease .5;
    /* animation-fill-mode: forwards; */
    /* visibility:hidden; */
    align-items: center;
    text-align: center;
}

@media (max-width: 740px){
    .content{
        width: 90%;
        top:5rem;
        /* align-self: center; */
    }
    .hero{
        max-height: 50vh; 
        min-height: 50vh;
    }
}
.content > *{
    color:white;
    margin-bottom: 1rem;
}
.getStarted{
    font-size: 16px;
    background-color: white;
    color: black;
    transition:all 0.15s ease-in-out 0s;
    border-radius: 30px;
    padding: 5px 25px;
    border:none;
}
.getStarted:hover{
    background-color: rgb(237, 240, 240);
}

.current {
    opacity:1;
    transform: translateX(0);
    min-height: 50vh;
}

.current .content{
    opacity:1;

}
.arrow {
    border: 2px solid white;
    background:transparent;
    color:white;
    width:2rem;
    height:2rem;
    cursor: pointer;
    border-radius: 50%;
    position:absolute;
    z-index: 3;
}

.arrow:hover{
    background-color: white;
    color:black;
}

.next{
    top:35%;
    right:1.5rem;
}
.prev{
    top:35%;
    left:1.5rem;
}
@media (max-width: 740px){
    .next{
        top:20%;
        right:1.5rem;
    }
    .prev{
        top:20%;
        left:1.5rem;
    }
}
.coverblack{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top:10%;
    /* background: rgba(27,26,31,255); */
    /* opacity: 0.99; */
    /* z-index: 1; */
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: auto;
    color: white;
}
.cardPiano{
    background-image: url("https://images.unsplash.com/photo-1546058256-47154de4046c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fHBpYW5vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 1px solid white;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(254, 253, 253, 0.2), 0 6px 20px 0 rgba(250, 248, 248, 0.19);
    height: 50vh;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    color: white;

}

.cardPiano:hover{
    color: transparent;
}
.cardOud{
    background-image: url("https://images.unsplash.com/photo-1593550573849-1d608bb469ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    margin-left: 1rem;
    box-shadow: 0 4px 8px 0 rgba(254, 253, 253, 0.2), 0 6px 20px 0 rgba(250, 248, 248, 0.19);
    height: 50vh;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    color: white;

}
.cardOud:hover{
    color: transparent;
}
.cardViolin{
    background-image: url("https://images.unsplash.com/photo-1460036521480-ff49c08c2781?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dmlvbGlufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 1px solid white;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(254, 253, 253, 0.2), 0 6px 20px 0 rgba(250, 248, 248, 0.19);
    height: 50vh;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}
.cardViolin:hover{
    color:transparent;
}

.title{
    color: white;
    text-align: center;
    margin-top: 70px;
}
.wcoverblack{
    width: 100%;
    height: 100%;
    background: rgba(109, 76, 76, 0.7);
    /* opacity: 0.7; */
    /* z-index: 1; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.wcoverblack:hover{
    background: none;
    transition: all 0.2s;
    color: transparent;
}
h1{
    z-index: 3;
}

@media (max-width:735px) {
    .cards{
        width: 100%;
        gap:.5rem;
        display: grid;
    grid-template-columns: repeat(1,1fr);

    }
    .cardPiano{
        height: 20vh;
        width: 100%;
    }
    .cardOud{
        height: 20vh;
        width: 100%;

    }
    .cardViolin{
            height: 20vh;
            width: 100%;
    }
    .title{
        margin-top: 0rem
    }
}