.videoLesson{
    margin-top:90px;
    position:relative;
}
.VideoSuggested{
    position:relative;
    cursor: pointer;
}
.suggestions{
    display: grid;
    grid-template-columns: repeat(50,1fr);
    gap:.5rem;
    overflow-x: scroll;
}
@media (max-width: 768px) {
    .videoLesson{
        margin-top:70px
    }
}