.videoLesson{
    
    width: 55vw;
    margin:auto;
    margin-top:100px;
    position:relative;
}
.VideoSuggested{
    position:relative;
    cursor: pointer;
}
.suggestions{
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(50,1fr);
    gap:.5rem;
    overflow-x: scroll;
}

.uploadFile{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .videoLesson{
        width: 99%;
        margin:auto;
        margin-top:70px;
        position:relative;
    }
    .suggestions{
        margin-right: 0px
    }
}

@media (max-width: 530px) {
    .uploadFile{
        height:100px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
}