 .mainContainer{
    margin-top: 20vh;
    color: white;
   
}
.btn-PianoPage{
    background-color:#e14f3d;
    color: white;
    border: none;
    width: 90px;
    height: 50px;
    border-radius: 10px;
}
.first{
    display: grid;
    grid-template-columns:repeat(2,1fr)
}
.second{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background: rgba(27,26,31,255);
    height: 60vh;
    text-align: center;
}
.firstContent{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color: black;
    text-align: center;
}
.postsContainer{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    border: 1px solid white
}

.third{
    width: 50%;
    margin: auto;
    text-align: center;
    color: black;
}
.learnFromTheBest{
    color:#e14f3d;
    background:#ffdfda;
    border-radius:5px;
    padding: 5px;
    margin-top: 100px;
    width: 30%;
    margin: 60px auto;
    /* align-self: center; */
}
.freeLessons{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 1rem;
    margin-top: 40px;
}

@media (max-width: 928px){
    .first{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        margin-bottom: 20px
    }
    .freeLessons{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        gap: 1rem;
        margin-top: 40px;
    }
}