.btnSendVideoReply {
    background-color: #e14f3d;
    color: white;
    width: 70px;
    margin-bottom: auto;

}


.videoAndReplies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.audioSpecific {
    width: 100%;
    margin-top: 15px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.SpecificReplies {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos4Practices {

    width: 90%;
    height: 121px;
    border: 1px solid #e1e1e1;
    margin: auto
}

.SendVideoReply {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid black;
}

.allvideoreply {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.kindsOfReply {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.StudentVideo {
    width: 35%;
}

.replyForVideo {
    width: 50%;
}

@media(max-width:767px) {
    .SendVideoReply {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-bottom: 40px;
    }

    .videos4Practices {

        width: 100%;
        height: 121px;
        border: 1px solid #e1e1e1;
        margin: 0px auto
    }
  
    .replyForVideo {
        width: 100%;
    }

    .SpecificReplies {
        display: grid;
        grid-template-columns: 1fr;
    }

    .StudentVideo {
        width: 100%;
    }

    .audioSpecific {
        display: grid;
        grid-template-columns: 1fr;
    }

    .allvideoreply {
        grid-template-columns: 1fr;

    }

    .videoAndReplies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}