.profile-teacher{
    width: 80%;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
    align-items: center;
}
.coursesDrawCss{
    margin-top:40px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 4rem;
}

@media (max-width: 768px) {
    .coursesDrawCss{
        margin-top:40px;
        display: grid;
        grid-template-columns:repeat(1,1fr);
        gap: 1rem;

    }
}
@media (min-width: 500px)and (max-width: 768px) {
    .coursesDrawCss{
        margin-top:40px;
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 1rem;
    }
}

.loader {
    border: 11px solid #f3f3f3; /* Light grey */
    border-top: 11px solid #565757; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }