.TeachersHomePage{
    height: 60vh;
}
.teacherAvatars{
    width: 90%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap:2rem;
    overflow-x: scroll;
    overflow-y: none;

}
@media (max-width: 768px){

    .teacherAvatars{
        width: 90%;
        margin:auto;
        display: grid;
        /* grid-template-columns: repeat(10,1fr); */
        gap:2rem;
        overflow-x: scroll;
    }

}


.teachersCard{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;

}
