.teachersCards{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
}

.teacher{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* border: 1px solid black;
    border-radius: 5px; */
    border-radius: 10px;
    background: #fafafa;
    box-shadow:  5px 5px 10px #cbcbcb,
      -5px -5px 10px #ffffff;
    padding:3px
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-top: 200px;
}

@media (max-width: 768px){
    .teachersCards{
        display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    }
}

.spinner {
    margin-top: 20%;
}
.loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
    .loader span{
    font-size: 22px;
    text-transform: uppercase;
    margin: auto;
    }
    .balls_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    animation: bounce .5s alternate
    infinite;
    margin-left: 0.5rem;
    }
    .ball:nth-child(2){
    animation-delay:.16s;
    }
    .ball:nth-child(3){
    animation-delay: .32s;
    }
    @keyframes bounce {
    from {
    transform: scaleX(1.25);
    }
    to{
    transform:
    translateY(-50px) scalex(1);
    }
}