.newHero{
    width: 100%;
    margin-top: 60px;
    height: 90vh;
    background-image: url('/public/HeroPic.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.containerHero{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.smallContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title1{
    color: white;
    font-weight: bold;
    font-size:54px;
    text-align: center;
}
.title2{
    color: white;
    font-weight: bold;
    font-size:32px;
    text-align: center;
    margin-top: -30px;
}
.button1{
    background-color: white;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 15px;
}
.button2{
    background-color: white;
    font-size: 24px;
    color: rgb(158, 78, 233);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 25px;
}
.bottomText{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-bottom: 25px;
}


@media (max-width: 768px) {
    .newHero{
        width: 100%;
        margin-top: 60px;
        height: 80vh;
        background-image: url('/public/HeroPic.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .title1{
        color: white;
        font-weight: bold;
        font-size:44px;

    }
    .title2{
        color: white;
        font-weight: bold;
        font-size:24px;
        text-align: center;
        margin-top: -10px;
    }
    .button2{
        background-color: white;
        font-size: 18px;
        color: rgb(158, 78, 233);
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 25px;
    }
    .button1{
        background-color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 15px;
    }
}