.newHero{
    width: 100%;
    margin-top: 60px;
    height: 90vh;
    background-image: url('/public/hero.jpg');
    background-position:center;
    background-size: fill;
    background-repeat: no-repeat;
    /* position: relative; */
}
/* 
.circles1{
    position: absolute;
    top: 20%;
    right: 20%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circles2{
    position: absolute;
    top: 35%;
    right: 45%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circles3{
    position: absolute;
    top: 55%;
    left: 20%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
} */
.containerHero{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.smallContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title1{
    color: white;
    font-weight: bold;
    font-size:54px;
    text-align: center;
}
.title2{
    color: white;
    font-weight: bold;
    font-size:32px;
    text-align: center;
    margin-top: -30px;
}
.button1{
    background-color: white;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 15px;
}
.button2{
    background-color: white;
    font-size: 24px;
    color: rgb(158, 78, 233);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 25px;
}
.button3{
    background-color: white;
    font-size: 24px;
    color: rgb(158, 78, 233);
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    margin-bottom: 25px;
}
.bottomText{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 0px 7px;
    /* margin-bottom: 10px; */
}


@media (max-width: 768px) {
    .newHero{
        width: 100%;
        margin-top: 60px;
        height: 80vh;
        /* background-image: url('/public/HeroPic.jpg'); */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .title1{
        color: white;
        font-weight: bold;
        font-size:44px;

    }
    .title2{
        color: white;
        font-weight: bold;
        font-size:24px;
        text-align: center;
        margin-top: -10px;
    }
    .button2{
        background-color: white;
        font-size: 18px;
        color: rgb(158, 78, 233);
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 25px;
    }
    .button1{
        background-color: white;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 15px;
    }
}