.message{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    align-items: flex-end;
}
.MessageTop{
    display: flex;
}

.messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.messageText{
    padding: 6px;
    border-radius: 20px;
    background:#ffffff;
    color: black;
    max-width: 300px;
    overflow-wrap: break-word;
}
.message.own{
    align-items: flex-start;
    margin-right: 5px;
}
.message.own .messageText{
    background: #d9fdd3;
    color:black;
    max-width: 300px;
}
.MessageBottom{
    font-size: 12px;
}
@media(max-width: 845px){
    .messageText{
        max-width: 150px;

}
    .message.own .messageText{
        max-width: 150px;
    }
  
}