
.mainSignin{
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.SigninContainer{
    height: 90vh;
    width:80%;
    max-width: 424px;
   
}
.titleSingin{
    font-family: Arquitecta, Helvetica, Arial, sans-serif;
    letter-spacing: 0.07em;
    line-height: 105%;
    font-weight: 700;
    text-align: center;
    margin-top:20%;
    font-size:32px
}
.ButtonLogIn{
    width: 100%;
    margin:auto;
    background-color: black;
    color: white;
    padding: 8px 4px;
    margin-top: 20px;
}
.ButtonLogIn:hover{
    background-color: rgb(115, 114, 114);
}

@media (max-width: 768px){
    .SigninContainer{
        width:80vw;
    }
}

.titleSingin{
   
}
/* .emailinput, .passwordinput{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 10px;
    padding: 5px;
} */

.forminputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
}
input, button{
    margin-top: 20px;
    max-width: 428px;
    /* margin-left: 10px; */
}
.emailinput, .passwordinput{
    width: 100%;
    max-width: 420px;
    
    padding: 8px 4px;
}